### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#DataFrame.drop_duplicates(subset=None, keep='first', inplace=False)[source]
#Total players in purchase data
df_unique_players = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)
total_unique_players = len(df_unique_players.SN)
df_unique_players.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Number of unique items
item_array = purchase_data['Item ID'].unique()
item_i = item_array.size
item_i

183

In [5]:
#Average Price of item 
df = purchase_data[['Item ID', 'Price']]
df_unique = df.drop_duplicates(subset='Item ID')
price_sum = df_unique['Price'].sum()
Avg_unique_item_price = price_sum/item_i
Avg_unique_item_price

3.0433879781420767

In [6]:
#total purchases
total_purchases_i = purchase_data['Purchase ID'].count()
total_purchases_i

780

In [7]:
#Total revenue
total_rev = purchase_data['Price'].sum()
total_rev

2379.77

In [8]:
#Purchase Summary DF ---> DROP INDEX COL!
Purchase_Summary_Raw = {
    "Total_Players": [total_unique_players],
    "Items": [item_i],
    "Avg_Item_Cost": [Avg_unique_item_price],
    "Total_Purchases": [total_purchases_i],
    "Total_Revenue": [total_rev]  
}
Purchase_Summary_df = pd.DataFrame(Purchase_Summary_Raw, columns=["Total_Players", "Items", "Avg_Item_Cost", "Total_Purchases", "Total_Revenue"])
Purchase_Summary_dfr = Purchase_Summary_df.round(decimals=2)
Purchase_Summary_dfr

   Total_Players  Items  Avg_Item_Cost  Total_Purchases  Total_Revenue
0            576    183           3.04              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gender_series = df_unique_players['Gender'].value_counts()
gender_series

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [10]:
male_count = gender_series.iloc[0]
female_count = gender_series.iloc[1]
other_count = gender_series.iloc[2]

display(
    male_count,
    female_count,
    other_count,
    total_unique_players
)

484

81

11

576

In [11]:
male_percent = 100*(male_count / total_unique_players)
female_percent = 100*(female_count / total_unique_players)
other_percent = 100*(other_count / total_unique_players)

display(
    male_percent,
    female_percent,
    other_percent
)

84.02777777777779

14.0625

1.9097222222222223

In [12]:
Gender_Summary_Raw = {
    "Gender": ["Male", "Female", "Other"],
    "Number_of_Players": [male_count, female_count, other_count],
    "Population_Percentage": [male_percent, female_percent, other_percent]
}
Gender_Summary_df = pd.DataFrame(Gender_Summary_Raw, columns=["Gender", "Number_of_Players", "Population_Percentage"])
Gender_Summary_dfr = Gender_Summary_df.round(decimals=2)
Gender_Summary_dfr

   Gender  Number_of_Players  Population_Percentage
0    Male                484                  84.03
1  Female                 81                  14.06
2   Other                 11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#gendered dataframes
male_purchase = purchase_data[purchase_data['Gender'] == 'Male']
female_purchase = purchase_data[purchase_data['Gender'] == 'Female']
other_purchase = purchase_data[purchase_data['Gender'] == 'Other / Non-Disclosed']

In [14]:
#gendered purchase counts
male_purchase_count = len(male_purchase['Purchase ID'])
female_purchase_count = len(female_purchase['Purchase ID'])
other_purchase_count = len(other_purchase['Purchase ID'])

display(
    male_purchase_count,
    female_purchase_count,
    other_purchase_count
)

652

113

15

In [15]:
#gendered avg purchase price
    #gendered rev
male_revenue = male_purchase['Price'].sum()
female_revenue = female_purchase['Price'].sum()
other_revenue = other_purchase['Price'].sum()

male_avg_pur_val = male_revenue / male_purchase_count
female_avg_pur_val = female_revenue / female_purchase_count
other_avg_pur_val = other_revenue / other_purchase_count

display(
    male_avg_pur_val,
    female_avg_pur_val,
    other_avg_pur_val   
)

3.0178527607361967

3.203008849557522

3.3459999999999996

In [16]:
#gendered avg purchase number (puchase count / players)
male_avg_pur_count = male_purchase_count / male_count
female_avg_pur_count = female_purchase_count / female_count
other_avg_pur_count = other_purchase_count / other_count

display(
    male_avg_pur_count,
    female_avg_pur_count,
    other_avg_pur_count
)

1.3471074380165289

1.3950617283950617

1.3636363636363635

In [17]:
#Gender Dataframe * Display Age Demographics Tabl
Gender_Purchases_Raw = {
    "Gender": ["Male", "Female", "Other"],
    "Purchases_Made": [male_purchase_count, female_purchase_count, other_purchase_count],
    "Average_Number_Of_Purchases": [male_avg_pur_count, female_avg_pur_count, other_avg_pur_count],
    "Average_Cost_Per_Purchase": [male_avg_pur_val, female_avg_pur_val, other_avg_pur_val],
    "Total_Revenue": [male_revenue, female_revenue, other_revenue]
}
Gender_Purchases_df = pd.DataFrame(Gender_Purchases_Raw, columns=["Gender", "Purchases_Made", "Average_Number_Of_Purchases", "Average_Cost_Per_Purchase", "Total_Revenue"])
Gender_Purchases_dfr =Gender_Purchases_df.round(decimals = 2)
Gender_Purchases_dfr

,Gender,Purchases_Made,Average_Number_Of_Purchases,Average_Cost_Per_Purchase,Total_Revenue
0,Male,652,1.35,3.02,1967.64
1,Female,113,1.40,3.20,361.94
2,Other,15,1.36,3.35,50.19

## Purchasing Analysis (Age)

In [18]:
# AGE DEMOGRAPHICS* Bin the purchase_data data frame by age
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

# Create the bins in which Data will be held
bins = [6, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46, 50]

# Create the names for the bins
group_names = ["7-10", "11-14", "15-18", "19-22", "23-26", "27-30", "31-34", "35-38", "39-42", "43-46", "47-50"]

In [19]:
#ADD aGE GROUP COLUMN
purchase_data["Age_Group"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

In [20]:
#Counting items in bins
age_group_su = purchase_data['Age_Group'].value_counts()

In [21]:
#grouping values for summation by bin with .loc
age_val_df = purchase_data[['Age_Group', 'Price']]
df7 = age_val_df.loc[age_val_df['Age_Group']=='7-10']
df11 = age_val_df.loc[age_val_df['Age_Group']=='11-14']
df15 = age_val_df.loc[age_val_df['Age_Group']=='15-18']
df19 = age_val_df.loc[age_val_df['Age_Group']=='19-22']
df23 = age_val_df.loc[age_val_df['Age_Group']=='23-26']
df27 = age_val_df.loc[age_val_df['Age_Group']=='27-30']
df31 = age_val_df.loc[age_val_df['Age_Group']=='31-34']
df35 = age_val_df.loc[age_val_df['Age_Group']=='35-38']
df39 = age_val_df.loc[age_val_df['Age_Group']=='39-42']
df43 = age_val_df.loc[age_val_df['Age_Group']=='43-46']
df47 = age_val_df.loc[age_val_df['Age_Group']=='47-50']
#summations
df7_sum = df7['Price'].sum()
df11_sum = df11['Price'].sum()
df15_sum = df15['Price'].sum()
df19_sum = df19['Price'].sum()
df23_sum = df23['Price'].sum()
df27_sum = df27['Price'].sum()
df31_sum = df31['Price'].sum()
df35_sum = df35['Price'].sum()
df39_sum = df39['Price'].sum()
df43_sum = df43['Price'].sum()
df47_sum = df47['Price'].sum()

In [22]:
#storing bin counts
bu_7 = age_group_su[0]
bu_11 = age_group_su[1]
bu_15 = age_group_su[2]
bu_19 = age_group_su[3]
bu_23 = age_group_su[4]
bu_27 = age_group_su[5]
bu_31 = age_group_su[6]
bu_35 = age_group_su[7]
bu_39 = age_group_su[8]
bu_43 = age_group_su[9]
bu_47 = age_group_su[10]

In [23]:
#Avg purchase value per person bin Value/ Bin count

bu_7v =  df7_sum / bu_7 
bu_11v =  df11_sum /bu_11 
bu_15v =  df15_sum /bu_15 
bu_19v =  df19_sum /bu_19 
bu_23v =  df23_sum /bu_23 
bu_27v =  df27_sum /bu_27 
bu_31v =  df31_sum /bu_31
bu_35v =  df35_sum /bu_35 
bu_39v =  df39_sum /bu_39 
bu_43v = df43_sum /bu_43

In [24]:
#Calculate the numbers and percentages by age group
bu_7_per = (bu_7 / total_unique_players) * 100
bu_11_per = (bu_11 /total_unique_players) * 100
bu_15_per = (bu_15 / total_unique_players) * 100
bu_19_per = (bu_19 / total_unique_players) * 100
bu_23_per = (bu_23 / total_unique_players) * 100
bu_27_per = (bu_27 / total_unique_players) * 100
bu_31_per = (bu_31 / total_unique_players) * 100
bu_35_per = (bu_35 / total_unique_players) * 100
bu_39_per = (bu_39 / total_unique_players) * 100
bu_43_per = (bu_43 / total_unique_players) * 100
bu_47_per = (bu_47 / total_unique_players) * 100

In [25]:
#Unique Bin DF["7-10", "11-14", "15-18", "19-22", "23-26", "27-30", "31-34", "35-38", "39-42", "43-46", "47-50"]
bu_Raw = {
    "Age_in_years": ["7-10", "11-14", "15-18", "19-22", "23-26", "27-30", "31-34", "35-38", "39-42", "43-46", "47-50"],
    "Number_of_purchases": [bu_7, bu_11, bu_15, bu_19, bu_23, bu_27, bu_31, bu_35, bu_39, bu_43, bu_47],
    "Percent_of_purchases":[bu_7_per, bu_11_per, bu_15_per, bu_19_per, bu_23_per, bu_27_per, bu_31_per, bu_35_per, bu_39_per, bu_43_per, bu_47_per],
    "Average_purchase_value_per_person":[bu_7v, bu_11v, bu_15v, bu_19v, bu_23v, bu_27v, bu_31v, bu_35v, bu_39v, bu_43v, 0]
}
bu_df = pd.DataFrame(bu_Raw, columns=["Age_in_years", "Number_of_purchases", "Percent_of_purchases", "Average_purchase_value_per_person"])
bu_dfr =bu_df.round(decimals = 2)

bu_dfr

,Age_in_years,Number_of_purchases,Percent_of_purchases,Average_purchase_value_per_person
0,7-10,32,5.56,3.40
1,11-14,19,3.30,2.68
2,15-18,113,19.62,3.03
3,19-22,254,44.10,3.04
4,23-26,207,35.94,3.06
5,27-30,63,10.94,2.88
6,31-34,38,6.60,2.73
7,35-38,35,6.08,3.55
8,39-42,15,2.60,3.37
9,43-46,4,0.69,2.76
10,47-50,0,0.00,0.00

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [60]:
#f43 = age_val_df.loc[age_val_df['Age_Group']=='43-46'] max 5 min 1
#Create goupby Obj by username #   "Total_Purchase_Value": [gSNTotal.map("${:.2f}".format)],
  #  "Number_of_purchases": [gSNCount],
   # "Average_purchase_value":[gSNAvg]
#}
#SN_df = pd.DataFrame(SN_Raw, columns=["Total_Purchase_Value",  "Number_of_purchases", "Average_purchase_value"])
#SN_dfr =SN_df.round(decimals = 2)
#SN_dfr

#^^^MUCH FAIL^^^^
#<<BETTER METHOD>>

gBySN = purchase_data.groupby(["SN"])
#Count how many itemssn were puchased by SN
gSNCount = gBySN["Item ID"].count()

gSNTotal = groupedBySN["Price"].sum()

gSNAvg = (gSNTotal / gSNCount)

# Make DF 
SN_DF = pd.DataFrame({"Purchase Count": gSNCount,
                         "Average Purchase Price": gSNAvg,
                         "Total_Purchase_Value": gSNTotal})

#Sort Data
SN_DF= SN_DF.sort_values("Total_Purchase_Value", ascending=False) 
SN_DF = SN_DF.round(decimals = 2)
SN_DF.head(5)

             Purchase Count  Average Purchase Price  Total_Purchase_Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [72]:
#Make groupby for calculatinos
gitem = purchase_data.groupby(["Item ID", "Item Name"])
#Count Items Sold
gitem_Count = gitem["SN"].count()
#Sum Profit for each item
gitem_Sum = gitem['Price'].sum()
#CALC item price using above sum and count
gitem_Price = (gitem_Sum / gitem_Count)

#Make DF
Popular_Items = pd.DataFrame({"Purchase_Count": gitem_Count,
                          "Item_Price": gitem_Price,
                          "Total_Item_Income": gitem_Sum})
#Sort Data
Popular_Items = Popular_Items.sort_values("Purchase_Count", ascending=False)
Popular_Items.head()

,,Purchase_Count,Item_Price,Total_Item_Income
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [74]:
#Same as above sorted by Revenue rather than count
Profitable_Items = Popular_Items.sort_values("Total_Item_Income", ascending=False)
Profitable_Items.head()

,,Purchase_Count,Item_Price,Total_Item_Income
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80